<div class="banner d-flex align-items-center justify-content-center">
<div class="d-flex justify-content-center text-white fs-1">Save any kind of movies</div>
</div>
  <div class="container my-5">
    <h1>All lists</h1>

    <% @lists.each do |list| %>
      <ul>
      <li><%= link_to "#{list.name}", list_path(list) %></li>
      </ul>
    <% end %>
  </div>
