<div class="banner d-flex align-items-center justify-content-center">
  <div class="d-flex justify-content-center text-white fs-1">Save any kind of movies</div>
</div>
<div class="container my-5">
  <div class="d-flex justify-content-center align-items-center">
    <h1>Search list</h1>
    <%= link_to "Add a new list", new_list_path, class:"btn btn-success border mx-5" %>
  </div>

  <div class="cards my-5">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <%= render 'shared/card', name: list.name %>
      <% end %>
    <% end %>
  </div>
</div>
